---
title: Blog
image: /assets/img/blog.jpg
description: Read my writings Note Blogs and Random thoughts.
---
<article> 
<h1>Blogs</h1>

<p style="margin-top: 5px; margin-bottom: 20px;">Read my blogs :
 

{% for tag in site.tags %}
  <span>
    <a style="text-decoration: none;position: initial;" href="/{{ tag[0] }}" data-swup-preload>{{ tag[0] | replace: '-', ' ' | replace: '_', ' ' | capitalize  }}</a>   
    {{ site.data.tags[tag[0]] }}
    {% unless forloop.last %}<span>, </span>{% endunless %}
  </span> 
{% endfor %}
  

</p>
 
<div class="container" data-swup-preload-all>

{% assign posts_by_year = site.posts | group_by_exp:"post", "post.date | date: '%Y'" %}

{% for year_group in posts_by_year %}
  <div class="column">
    <h2 id="{{year_group.name}}">{{ year_group.name }}</h2>
  <ul class="post-list">
    {% for post in year_group.items %}
      <li>
        <a href="{{ post.url }}">{{ post.title }}</a>
        <!-- {{post.description}} -->
      </li>
    {% endfor %}
  </ul>
  </div>
{% endfor %}

</div>

  </article>
