---
image: /assets/img/og/photos_zszdw0_Thumbnail.jpg
title: Photos
description: My photos
---


<div class="container" id="my-gallery" data-pswp="">


{% assign photos_folder = "assets/img/photos/low/" %}
{% assign file_paths = "" %}
{% for file in site.static_files %}
  {% if file.path contains photos_folder and file.path != photos_folder %}
    {% capture file_name %}{{ file.path | remove_first: photos_folder }}{% endcapture %}
    {% if file_name contains '.jpg' %}
      {% capture file_name %}{{ file_name | remove: '/'| remove: '.jpg' }}{% endcapture %}
    {% endif %}
    {% capture file_paths %}{{ file_paths }}{{ file_name }}{% if forloop.last == false %},{% endif %}{% endcapture %}
  {% endif %}
{% endfor %}

{% assign file_paths_array = file_paths | split: ',' | sort_numbers_reverse %}

 
  {% for file_path in file_paths_array %}
  

 
  {% assign cap_i = file_path | prepend: "c" %}

  <a href="/{{ photos_folder | remove: '/low' }}high/{{ file_path }}.jpg"  target="_blank" aria-label="photo {{ file_path }}">
    <img src="/{{ photos_folder }}{{ file_path }}.jpg" alt="{{site.data.captions[cap_i]}}">
  </a>
   
  {% endfor %}
 
</div>
