---
layout: default
image: /img/mrinal.jpg
title: Photos
description: My photos
---

<article>
    <h1>{{page.title}}</h1>


<!--
    
    <p style="margin-top: 5px;"></p>

    <h2 id="me">Me</h2>

    <div class="gallery">
      {% for image in site.static_files %}
        {% if image.path contains '/img/me/' %}
          <img src="{{ site.url }}{{ site.baseurl }}{{ image.path }}" alt="{{ image.name | replace: "-", " " | replace: "_", " " | remove: "," | split: "." | first | capitalize }}">
        {% endif %}
      {% endfor %}
    </div>


    <h2 id="gallery">Gallery</h2>

-->

    
    
    <p style="margin-top: 5px; margin-bottom: 20px;">Heres some images which I deleted from my phone but here to show you.</p>

    <div class="grid-container">
        {% for image in site.static_files %}
          {% if image.path contains '/img/photo/' %}

          <div>
            <a href="{{ site.url }}{{ site.baseurl }}{{ image.path }}">
              <img src="{{ site.url }}{{ site.baseurl }}{{ image.path }}" alt="{{ image.name | replace: "-", " " | replace: "_", " " | remove: "," | split: "." | first | capitalize }}" title="{{ image.name | replace: "-", " " | replace: "_", " " | remove: "," | split: "." | first | capitalize }}">
            </a>
          </div>
          {% endif %}
        {% endfor %}
      </div>

    <h2>Sketches</h2>
    <p style="margin-top: 5px;">Wish I had learnt sketching.</p>
</article>

<style>
.gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery img {
  width: calc(33.333% - 20px); /* Adjust as needed */
  margin: 10px;
  object-fit: cover;
}
</style>

<style>
  .grid-container {
    -moz-columns: 200px 3;
    columns: 100px 3;
    -moz-column-gap: 1.5rem;
    column-gap: 1.5rem;
    margin: 0 auto;
}

.grid-container div {
    width: 250px;
    margin: 0 0 1.5rem;
    display: inline-block;
    width: 100%;  
    transition: all .25s ease-in-out;
}

.grid-container div img {
    width: 100%;
    filter: grayscale(100%); 
    transition: all .25s ease-in-out;
}

.grid-container div img:hover {
    filter: grayscale(0);
}
</style>
