
<div id="note-section">
    <h2 class="post-subtitle icon-comment">Add Your Note</h2>
    <div id="noteSection" class="notes">
        <div id="notes-list" class="post-info">
            Checking for previous notes on this post. Please wait a moment while loading...
            <noscript>This requires JavaScript to function properly. Please enable JavaScript in your browser settings</noscript>
        </div>
    </div>
    <div class="notes">
        <div class="post-info">
            <p></p>
        </div>
        <div class="notes-form">
            <form id="note-form">

    <div class="note-box">

        <textarea
            id="note-content"
            name="note"
            placeholder="Write a note..."
            required
        ></textarea>

        <div class="note-actions">
            <input
                id="note-name"
                name="username"
                type="text"
                placeholder="Your name"
                autocomplete="username"
                required
            >

            <input id="note-submit" type="submit" value="Send">
        </div>

    </div>

</form>
        </div>
    </div>
</div>
