<form action="https://docs.google.com/forms/d/e/1FAIpQLScAtxQW8cK268Lq6Ui8vUvei-0tIzdFjgMQaK4Ll-pMPRNkVw/formResponse"
      target="_self"
      id="bootstrapForm"
      method="POST"
      style="margin: 100px 0;display: flex;"
      >
   
  
        <div class="form-group">
            <input id="2094455528" placeholder="Email" type="text" name="entry.2094455528" class="form-control" required>
        </div>
    

 

    <input type="hidden" name="fvv" value="1">
    <input type="hidden" name="fbzx" value="-8717971013099119454">
    <!--
        CAVEAT: In multipages (multisection) forms, *pageHistory* field tells to google what sections we've currently completed.
        This usually starts as "0" for the first page, then "0,1" in the second page... up to "0,1,2..N" in n-th page.
        Keep this in mind if you plan to change this code to recreate any sort of multipage-feature in your exported form.
        We're setting this to the total number of pages in this form because we're sending all fields from all the section together.
    -->
    <input type="hidden" name="pageHistory" value="0">

    <input class="btn btn-primary" type="submit" value="Submit">
</form> 

<style>
    /* Styling for form input fields */
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  padding: 10px;
  background-color: var(--bs);
  color: var(--t);
  border: none;
}

/* Styling for submit button */
input[type="submit"] {
  background-color: #4CAF50; /* Green */
  color: white;
  padding: 10px 20px;
  border: none;
   
  cursor: pointer;
  font-size: 16px;
}

/* On hover, change background color */
input[type="submit"]:hover {
  background-color: #45a049; /* Darker green */
}
/* Remove outline when input field is active */
input:focus,
textarea:focus {
  outline: none;
}

</style>