 
    <style>
        #contactForm {
            display: flex;
            margin: 10px 0;
        }
        .hidden {
            display: none;
        }
     #formContainer,#sendingMessage,#responseMessage {
      margin: 100px 0;
     }
  /* Styling for form input fields */
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
padding: 10px;
background-color: var(--bs);
color: var(--t);
border: none;
min-width: 200px;
}

/* Styling for submit button */
input[type="submit"] {
background-color: #4CAF50; /* Green */
color: white;
padding: 10px 20px;
border: none;
 
cursor: pointer;
font-size: 16px;
}

/* On hover, change background color */
input[type="submit"]:hover {
background-color: #45a049; /* Darker green */
}
/* Remove outline when input field is active */
input:focus,
textarea:focus {
outline: none;
}

</style>

<div class="form-container" id="formContainer">
  <h2>Drop Your Email </h2>
    <form action="https://docs.google.com/forms/d/e/1FAIpQLScAtxQW8cK268Lq6Ui8vUvei-0tIzdFjgMQaK4Ll-pMPRNkVw/formResponse" id="contactForm" method="POST">
        <div class="form-group">
            <input id="2094455528" placeholder="Email or Anything" type="text" name="entry.2094455528" required>
        </div>

 
              <textarea id="572997188" name="entry.572997188" class="form-control" hidden>{{ page.url | absolute_url }}</textarea>
          

        <input type="hidden" name="fvv" value="1">
        <input type="hidden" name="fbzx" value="-8717971013099119454">
        <input type="hidden" name="pageHistory" value="0">
        <input type="submit" value="Submit">
    </form>
</div>

 