 
<div class="form-container" id="formContainer">
  <h2>Drop Your Email </h2>
    <form action="https://docs.google.com/forms/d/e/1FAIpQLScAtxQW8cK268Lq6Ui8vUvei-0tIzdFjgMQaK4Ll-pMPRNkVw/formResponse" id="contactForm" method="POST">
        <div class="form-group">
            <input id="2094455528" placeholder="Email" type="text" name="entry.2094455528" required>
        </div>

 
              <textarea id="572997188" name="entry.572997188" class="form-control" hidden>{{ page.url | absolute_url }}</textarea>
          

        <input type="hidden" name="fvv" value="1">
        <input type="hidden" name="fbzx" value="-8717971013099119454">
        <input type="hidden" name="pageHistory" value="0">
        <input type="submit" value="Submit">
    </form>
</div>

 