h3, h2, p, li,pre {
  opacity: 0;
  
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}
 
.visible {
  opacity: 1;
   
}


.modal, #note-section {
  p{
    opacity: 1;
  }
}

#search-results, #search-results>li , #search-results>li>p ,#search-results>li>a>h3{
  opacity: 1;
}