* {
  margin: 0;
  padding: 0;
}

:root {
  --bg:white;
  --text:black;
  --hover: #0073ec;
}


@media (prefers-color-scheme: dark) {
  :root {
    --bg:rgb(31 31 31);
    --text:white;
  }
}


body {
  max-width: 8.3in;
  margin: auto;
  background-color: var(--bg);
  color: var(--text);
  font-family: 'Courier New', Courier, monospace;
  word-wrap: break-word;
  header {
    padding: 20px;
    nav {
      ul {
        list-style: none;
        display: flex;
        gap: 20px;
        a {
          text-decoration: none;
        }
      }
    }
  }
  main {
    padding: 20px;
    ul {
      padding-inline-start: 15px;
    }
    ol {
      padding-inline-start: 30px;
    }
    details {
      padding: 20px 0;
      ul {
        li {
          ul {
            margin-top: 5px;
            margin-bottom: 5px;
          }
        }
      }
    }
  }
  a {
    color: var(--text);
    text-underline-position: under;
    &:hover {
      color: var(--hover);
    }
  }
  summary {
    cursor: pointer;
}
}


/* common class */

.underline {
  text-decoration: underline;
  text-underline-position: under;
}
.blog-title {
  margin-bottom: 15px;
}

.footnotes ol {
  padding-inline-start: 30px;
}

.gist {
  padding: 20px 0px;
}

/* print */
@media print {

  main{
    article {
      header {
        padding: 0;
      }
    }
  }
}