@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Syne:wght@400..800&display=swap');

* {
  padding: 0;
  margin: 0;
}
 
header {
  font-family: "Syne", sans-serif;
}
nav {
    gap: 15px;
    display: flex;
    border-bottom: solid #eee 1px;
    padding-bottom: 40px;
    a {
        text-decoration: none;
        color: #999999;
        font-weight: 500;
    }
    .active {
      color: #000000;
    }
    
}

main,nav {
  font-family: "Manrope", sans-serif;
}

header,main {
    margin: auto;
    max-width: 600px;
    padding: 20px;
}

 a{
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
 }

 article {
   
   h2 {
    padding-top: 40px;
  }
  hr, ul, ol, dl, blockquote, p, table, pre {
    margin-top: 30px;
  }
  
 }

p {
  font-weight: 500;
  color: #444444;
}

main{
  img {
    margin: 20px 0;
    border-radius: 10px;
    max-width: 100%;
    box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.1882352941);
  }
}


hr {
  border: 0;
    height: 1px;
    background-color: #eee;
    margin: 20px auto;
    max-width: min(600px, calc(100% - 40px));
}

pre {
  color: white;
  background-color: #1b2b34;
  padding: 20px 15px;
  margin: 10px 0;
  overflow: auto;
  border-radius: 10px;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

header {
  > a {
      display: contents;
      > img {
          border-radius: 100rem;
          display: block;
      }
  }
  @media screen and (min-width: 1200px) {
      padding-top: 100px;
  }
}

ul,ol {
  padding-inline-start: 20px;
}

iframe {
  border-radius: 10px;
  margin: 30px 0;
  border: none;
}

img+em , a+em {
  display: block; 
  text-align: center;
  font-size: 0.8rem; 
}

table {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
}

 td, th {
  border: 1px solid #ddd;
  padding: 5px;
}