 
  .copy {
    background-color: var(--bs);
    color: var(--t);
    border: none;
    padding: 4px 8px;
    cursor: pointer;
    border-radius: 30px;
  }
  
 
 div.highlight{
  display: flex;
  justify-content: space-between;
  background-color: var(--bs);
  border-radius: 10px;
  border: solid var(--ts) 1px;
  margin-top: 30px;
  pre{
    margin: 0;
  }
 }

 .copy-container {
  display: none;

}

div.highlight:hover {
  .copy-container {
    display: block;
  
  }
}