pre.highlight {
    position: relative;
  }
  
  .copy-container {
    position: absolute;
    top: 0;
    right: 0;
    margin: 8px;
  }
  
  .copy {
    background-color: #003f8290;
    color: #fff;
    border: none;
    padding: 4px 8px;
    cursor: pointer;
    border-radius: 5px;
  }
  
 
pre.highlight > .copy-container {
    opacity: 0;
  }
  
  pre.highlight:hover > .copy-container {
    opacity: 1;
  }
  
  pre.highlight > .copy-container:active,
  pre.highlight > .copy-container:focus {
    opacity: 1;
  }  