 
  .copy {
    background-color: transparent;
    color: var(--t);
    border: none;
    padding: 4px 8px;
    cursor: pointer;
    border-radius: 30px;
  }

  .copy-container {
    display: flex;
    justify-content: space-between;
    padding: 5px 15px;
    background: #8988882e;
    border-radius: 10px   10px 0 0;
}  
 
 div.highlight{
  background-color: var(--bs);
  border-radius: 10px;
  //border: solid var(--ts) 1px;
  margin-top: 30px;
  pre{
    margin: 0;
  }
 }
 
