/* Note Section Container */
#note-section {
    max-width: 600px;
    margin: 2rem auto;
    border-radius: 8px;
}

/* Section Headers */
#note-section .post-subtitle {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--h);
    padding-bottom: 0.5rem;
}

/* Notes Container */
#noteSection {
    margin-top: 1rem;
}

.note-item {
    margin-bottom: 1rem;
    padding: 0.8rem; 
    border-radius: 5px;
    background: var(--bc);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
    border-left: 5px solid #007bff;
}

.note-name {
    font-weight: bold;
    margin-bottom: 0.3rem;
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    color: #555;
    transition: color 0.2sease;
    &:hover{
        color: var(--t);
    }
}

.note-name small {
    font-weight: normal;
    color: #999;
    &:hover{
        color: var(--t);
    }
}

.note-item p {
    margin: 0.3rem 0;
}

/* Add Note Section */
.notes-form {
    margin-top: 1.5rem;
}

#note-form {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

#note-form .input-container {
    display: flex;
    justify-content: space-between;
    gap: 0.8rem;
}

#note-form input[type="text"],
#note-form textarea {
    padding: 0.6rem;
    font-size: 1rem; 
    border-radius: 5px;
    background: var(--bc);
    transition: border-color 0.2s ease;
}

#note-form input[type="text"]:focus,
#note-form textarea:focus {
    border-color: #007BFF;
    outline: none;
}

#note-form textarea {
    resize: none;
    height: 100px;
}

#note-form input[type="text"] {
    flex: 1;
}

#note-submit {
    padding: 0.7rem;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#note-submit:hover {
    background: #0056b3;
}

span.author-badge {
    background: #daff00;
    color: rgb(0 0 0);
    padding: 0 5px;
    border-radius: 1rem;
    margin-left: 6px;
}