#contactForm {
    display: flex;
    margin: 10px 0;

}
.hidden {
    display: none;
}
#formContainer,#sendingMessage,#responseMessage {
margin: 100px 0;
//additional
    background: red;
    //color: var(--t);
    padding: 30px;
}
/* Styling for form input fields */
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
padding: 10px;
background-color: var(--bs);
color: var(--t);
border: none;
min-width:50px;
}

/* Styling for submit button */
input[type="submit"] {
background-color: #1A611A; /* Green */
color: white;
padding: 10px 20px;
border: none;

cursor: pointer;
&:hover {
    background-color: #45a049; /* Darker green */
    }
}
 
/* Remove outline when input field is active */
input:focus,
textarea:focus {
outline: none;
}

input#\32 094455528 {
    width: 100%;
}