@font-face {
  font-family: 'icon/icons';
  src: url('../font/icon/icons.woff2') format('woff2'),
       url('../font/icon/icons.woff') format('woff'),
       url('../font/icon/icons.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
 
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "icon/icons";
  font-style: normal;
  font-weight: normal;
  speak: never;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  // margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mail:before { content: '\e800'; }
.icon-doc:before { content: '\e801'; }
.icon-link:before { content: '\e802'; }
.icon-picture:before { content: '\e803'; }
.icon-facebook-brands:before { content: '\e804'; }
.icon-export:before { content: '\e805'; }
.icon-bookmark:before { content: '\e806'; }
.icon-calendar:before { content: '\e807'; }
.icon-clock:before { content: '\e808'; }
.icon-back-in-time:before { content: '\e809'; }
.icon-search:before { content: '\e80a'; }
.icon-cancel:before { content: '\e80b'; }
.icon-cancel-circled2:before { content: '\e80c'; }
.icon-cancel-circled-1:before { content: '\e80d'; }
.icon-briefcase:before { content: '\e80e'; }
.icon-comment:before { content: '\e80f'; }
.icon-tag:before { content: '\e810'; }
.icon-tags:before { content: '\e811'; }
.icon-tag-1:before { content: '\e812'; }
.icon-tags-1:before { content: '\e813'; }
.icon-tag-2:before { content: '\e814'; }
.icon-calendar-outlilne:before { content: '\e815'; }
.icon-calendar-1:before { content: '\e816'; }
.icon-arrows-cw:before { content: '\e817'; }
.icon-graduation-cap:before { content: '\e818'; }
.icon-graduation-cap-1:before { content: '\e819'; }
.icon-user:before { content: '\e81a'; }
.icon-users:before { content: '\e81b'; }
.icon-user-1:before { content: '\e81c'; }
.icon-folder:before { content: '\e81d'; }
.icon-folder-1:before { content: '\e81e'; }
.icon-link-1:before { content: '\e81f'; }
.icon-linkedin-1:before { content: '\e820'; }
.icon-attach:before { content: '\e821'; }
.icon-attach-1:before { content: '\e822'; }
.icon-attach-2:before { content: '\e823'; }
.icon-list:before { content: '\e824'; }
.icon-archive:before { content: '\e825'; }
.icon-eye:before { content: '\e826'; }
.icon-eye-1:before { content: '\e827'; }
.icon-home:before { content: '\e828'; }
.icon-home-1:before { content: '\e829'; }
.icon-home-circled:before { content: '\e82a'; }
.icon-menu:before { content: '\e82b'; }
.icon-fast-food:before { content: '\e82c'; }
.icon-cog:before { content: '\e82d'; }
.icon-wrench:before { content: '\e82e'; }
.icon-cog-1:before { content: '\e82f'; }
.icon-spin1:before { content: '\e830'; }
.icon-wrench-circled:before { content: '\e831'; }
.icon-level-up:before { content: '\e832'; }
.icon-forward:before { content: '\e833'; }
.icon-forward-outline:before { content: '\e834'; }
.icon-forward-1:before { content: '\e835'; }
.icon-thumbs-up:before { content: '\e836'; }
.icon-thumbs-down:before { content: '\e837'; }
.icon-spin5:before { content: '\e838'; }
.icon-thumbs-up-1:before { content: '\e839'; }
.icon-thumbs-down-1:before { content: '\e83a'; }
.icon-heart:before { content: '\e83b'; }
.icon-heart-empty:before { content: '\e83c'; }
.icon-trash-empty:before { content: '\e83d'; }
.icon-adjust:before { content: '\e83e'; }
.icon-eye-2:before { content: '\f082'; }
.icon-bookmark-empty:before { content: '\f097'; }
.icon-twitter:before { content: '\f099'; }
.icon-github-circled:before { content: '\f09b'; }
.icon-mail-alt:before { content: '\f0e0'; }
.icon-linkedin:before { content: '\f0e1'; }
.icon-lightbulb:before { content: '\f0eb'; }
.icon-laptop:before { content: '\f109'; }
.icon-folder-empty:before { content: '\f114'; }
.icon-unlink:before { content: '\f127'; }
.icon-calendar-empty:before { content: '\f133'; }
.icon-doc-inv:before { content: '\f15b'; }
.icon-youtube-play:before { content: '\f16a'; }
.icon-instagram:before { content: '\f16d'; }
.icon-windows:before { content: '\f17a'; }
.icon-linux:before { content: '\f17c'; }
.icon-graduation-cap-2:before { content: '\f19d'; }
.icon-reddit:before { content: '\f1a1'; }
.icon-file-pdf:before { content: '\f1c1'; }
.icon-share:before { content: '\f1e0'; }
.icon-trash:before { content: '\f1f8'; }
.icon-whatsapp:before { content: '\f232'; }
.icon-sticky-note:before { content: '\f249'; }
.icon-sticky-note-o:before { content: '\f24a'; }
.icon-chrome:before { content: '\f268'; }
.icon-telegram:before { content: '\f2c6'; }
.icon-linkedin-squared:before { content: '\f30c'; }
