.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.2s ease;
  backdrop-filter: blur(1px);

  /* Center the modal content with flexbox */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: var(--b);
  color: var(--ts);
  padding: 20px;
  width: 80%;
  max-width: 550px;
  border-radius: 10px;
  box-shadow: #0000006b 0px 0px 10px 0px;

  opacity: 0;
  transition: opacity 0.2s ease, transform 0.2s ease;
  transform: translateY(-10px);

  /* Ensure content alignment */
  text-align: center;
}


.modal-content p {
  text-align: center;
  margin: 20px 0;
}

.modal-content p a {
  margin: 0 10px;
  background: var(--c);
  color: var(--bs);
  padding: 5px 7px;
  text-decoration: none;
}

span#modalCancel {
  cursor: pointer;
}

span#modalCancel:hover {
  color: var(--ts);
}

p#modalMessage {
  font-size: large;
  font-weight: bold;
}
