article {
    header {
        background-color: rgba(100, 100, 100, 0.156);
        h1 {
            padding-top: 0;
        }
    }
    p {
        img {
            display: block;
            width: 100%;
            // max-width: 560px;
            margin: auto;
        }
    }
}