@media print {
    nav,footer,#comment-section>.comments-form,div#formContainer {
      display: none !important;
    }
    .lg{
        display:inline;
    }
    figure,p:has(img) { 
        border: none;
        margin: 20px auto;
    }
    img {
        width: 50%;
        border: none;
        margin: 0 auto;
    }
    div#note-section {
        display: none;
    }
    p.copyright {
        margin: 30px 0;
    }
    article>details>summary {
        display: none;
    }
  }
  