@media print {
    nav,footer,#comment-section>.comments-form,div#formContainer {
      display: none !important;
    }
    .lg{
        display:inline;
    }
    figure,p:has(img) { 
        border: none;
        margin: 20px auto;
    }
    img {
        width: 50%;
        border: none;
        margin: 0 auto;
    }
  }
  h3.post-subtitle{
    display: none;
  }