.project-list {
  list-style: none;
  padding-left: 0;
  margin-top:10px ;
}

.project-list li {
  margin-bottom: 20px;
}

.project-link {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 8px 12px;
  text-decoration: none;
  color: var(--tc);
  border-radius: 8px;
  padding-top: 10px;
  transition: background 0.2s;
}


.project-thumbnail {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  flex-shrink: 0;
}

.title {
  font-weight: bold;
  margin-bottom: 4px;
}

.desc { 
  line-height: 1.4;
}

/*  title+desc  */
@media (min-width: 768px) {
  .project-link {
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    align-items: flex-start;
  }
  .text-wrap {
    display: block;  
  }
  .desc {
    grid-column: auto;
    font-size: 95%;
  }
  .project-thumbnail {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
  flex-shrink: 0;
}
}
 
@media (max-width: 767px) {
  .project-link {
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    align-items: start;
  }
  .text-wrap {
    display: contents; 
  }
  .desc {
    grid-column: 1 / span 2; 
  }
}