---
---


// normalise

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 1.5em;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  display: inline-block;
  transition: transform 0.3s ease;
}
a:active {
  transform: scale(0.9); 
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

 

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
 

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}


// base

* {
    margin: 0;
    padding: 0;
  }
  
  :root {
    --bg:white;
    --text:black;
    --hover: #0073ec;
  }
  
  
  @media (prefers-color-scheme: dark) {
    :root {
      --bg:rgb(31,31,31);
      --text:white;
    }
  }
  
  
  
  body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    max-width: 8.3in;
    margin: auto;
    background-color: var(--bg);
    color: var(--text); 
    word-wrap: break-word;
    header {
      padding: 20px;
      font-size: 1.1rem;  
      nav {
        ul {
          list-style: none;
          display: flex;
          gap: 20px;
          a {
            text-decoration: none;
          }
        }
      }
    }
    main {
      padding: 20px;
      > ul {
        margin-top: 0;
        margin-bottom: 30px;
         
      }
      ul {
        padding-inline-start: 20px;
      }
      ol {
        padding-inline-start: 30px;
      }
      details {
        margin: 20px 0;
        ul {
          li {
            ul {
              margin-top: 5px;
              margin-bottom: 5px;
            }
          }
        }
      }
    }
    a {
      color: var(--text);
      text-underline-position: under;
      text-decoration-thickness: 1px;
      &:hover {
        color: var(--hover);
      }
    }
    summary {
      cursor: pointer;
  }
  }
  
  
  /* common class */
  .post-list {
    margin-top: 10px;
    padding-inline-start: 10px;
    li {
      margin-top: 10px;
      margin-left: 10px;
    }
  }
  .underline {
    text-decoration: underline;
    text-underline-position: under;
  }
  
  .footnotes ol {
    padding-inline-start: 30px;
  }
  
  .gist {
    padding: 20px 0px;
  }
  .katex { font-size: 1.0rem!important; }
  
  
  
  .my-photo {
    float: right;
    object-fit: cover;
    margin: 0 0 10px 30px;
    background-color: rgba(137, 137, 137, 0.47);
  }
  
  @media screen and (max-width: 768px) {
    .my-photo {
      float: none!important;
      margin: 0!important;
display:none; // hide 
    }
  }
  
  
  /* print */
  @media print {
  
    main{
      article {
        font-size: 1rem;
        
      }
    }
  }





// post

article {
  font-size: 1rem;
    header {
        // background-color: rgba(255, 0, 0, 0.15);
        padding: 0;  > span {font-size: .9rem;} > time {font-size: .9rem;}  
        h1 {
            padding-top: 0;
            display: block;
        }
    }
    aside {
        details {
            ul {
                margin-top: 0;
                padding-inline-start: 30px;
            }
        }
    }
    p {
        img {
            display: block;
            width: 100%;
            // max-width: 560px;
            margin: auto;
            background: rgb(255, 0, 0, 0.15);
            min-height: 150px;   
            box-shadow: 0px 0px 11px 0px #00000030;
        }
    }
}



// typo

p {
  font-size: 1rem; 
}

h2 {
    font-size: 1.3em;
}



h1, h2, h3, h4, h5, h6 {
    padding-top: 30px; 
    a {
        text-decoration: none;
        &:hover {
            color: var(--text);
            text-decoration: underline;
        }
    }
}


hr, ul, ol, dl, blockquote, p, table, pre {
    margin-top: 30px;
}



blockquote {
    position: relative;
    margin: 40px 0;
    padding-left: 26px;
    line-height: 1.7;
}

blockquote::before {
    content: '\201C'; 
    position: absolute;
    left: 0;
    top: 50%;
    font-size: 2em; 
    transform: translateY(-50%);
}

// for photoswipe 

img+em , a+em {
    display: block;
    margin-top: 20px;
    text-align: center;
    font-size: 0.8rem;
    font-style: normal;
}


pre.highlight {
    overflow: auto;
    margin: 30px 0;
    padding: 15px;
    background: #93939330;
}

.footnotes p {
    margin: 0;
    padding: 0;
  }

 


  table {
    border-collapse: collapse;
    width: 100%;
    text-align: left;
  }
  
   td, th {
    border: 1px solid #ddd;
    padding: 5px;
  }
  
  
