---
---

* {
    padding: 0;
    margin: 0;
}

main{
    max-width: 8.3in;
    margin: auto;
}


h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1rem;
}

img {
    max-width: 100%; 
    border: solid 1px ;
}

a{
    text-decoration: none;
}

header {
    font-size: 1.1rem;
}