---
layout: dist
---

<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-IN" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    
    {%- seo -%}
    
    <link rel="stylesheet" href="{{ "/style.css" | relative_url }}">
    


    {%- feed_meta -%}


    <!-- Sitemap -->  
<link rel="sitemap" type="application/xml" href="{{ "/sitemap.xml" | absolute_url }}">

  </head>
  <body>

    <header>
      <nav>
          <ul>
              <li><a href="/">home</a></li>
              <li><a href="/blog">blog</a></li>
          </ul>
      </nav>
    </header>
    
    <main>

    {{ content }}
    
    </main>

    <script src="/script.js"></script>
    {% mathjax %}

  </body>
</html>
