<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    
    <title>{{ page.title }}</title>
    {%- seo title=false -%}

    {% include icons.html %}

    <link rel="stylesheet" href="/assets/css/main.css">
    
    {%- feed_meta -%}
  
<link rel="stylesheet" href="/assets/css/transitions.css">

<script src="/assets/js/Swup.umd.js"></script>
<script src="/assets/js/index.umd.js"></script>
<script src="/assets/js/script.js"></script>


<script defer src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script defer id="MathJax-script" src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

<!-- PhotoSwipe scripts and stylesheet -->
<script src="//cdnjs.cloudflare.com/ajax/libs/photoswipe/5.3.7/umd/photoswipe-lightbox.umd.min.js" async></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/photoswipe/5.3.7/umd/photoswipe.umd.min.js" async></script>
<link href="//cdnjs.cloudflare.com/ajax/libs/photoswipe/5.3.7/photoswipe.min.css" rel="stylesheet" />

{% include gtag.html %}
  </head>
  <body>

    <header>

      <a href="{% if page.layout == 'post' %}/blog{% else %}/{% endif %}">
        <img src="/assets/img/av.jpg" alt="logo" height="50" width="50">
      </a>

        <h1>{{ page.title }}</h1>
        <!-- if not a page-->
        
        {% unless page.layout == 'post' %}
        {% include nav.html %}
        {% endunless %}

        {% if page.layout == 'post' %}
        <time datetime="{{ page.date | date_to_xmlschema }}">
          {{ page.date | date: "%B %-d, %Y" }}
        </time>        
        {% endif %}


    </header> 
    

    
    <main>

    {{ content }}
    
    </main>

    
  
  </body>
</html>