---
layout: default
---

<article>

    <header>
        <h1>{{ page.title }}</h1>
        <time datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%B %-d, %Y" }}</time>
        ● <span id="viewCount"></span> <span>Views</span>
    </header>

    <aside>
        <details>
            <summary>Table of Content</summary>
            {% toc %}
        </details>
    </aside>

{{ content }}

</article>

<script>
    window.onload = function() { 
        function fetchViewCount(postId) {
            fetch('https://api.mrinal.tk/views', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: 'post_id=' + postId
            })
            .then(response => response.json())
            .then(data => {
                if (data && data.view_count !== undefined) {
                    document.getElementById('viewCount').innerText = data.view_count;
                } else {
                    console.error('Failed to fetch view count:', data.error);
                }
            })
            .catch(error => console.error('Error fetching view count:', error));
        }
     
        const postId = '{{ page.url | remove_first: '/' }}';  
        fetchViewCount(postId);
    };
    </script>


<div style="padding-top: 100px;">
    <button id="likeBtn" onclick="sendFeedback('like')">Like</button>
    <button id="dislikeBtn" onclick="sendFeedback('dislike')">Dislike</button>
    <button id="okayBtn" onclick="sendFeedback('okay')">Okay</button>

</div>

<style>
    button{
        padding: 5px 10px;
             
            cursor: pointer;
            border: 0px solid #ccc;
            border-radius: 5px; 
    }
</style>

<script>
    function sendFeedback(action) {
        var post_id = '{{ page.url | remove_first: '/' }}';  
        var xhr = new XMLHttpRequest();
        xhr.open('POST', 'https://api.mrinal.tk/feedback');
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.onload = function() {
            if (xhr.status === 200) {
                var response = JSON.parse(xhr.responseText);
                console.log('Feedback:', response);
                updateButtonCounts(response);
            }
        };
        xhr.send('post_id=' + post_id + '&action=' + action);
    }

    function updateButtonCounts(counts) {
        document.getElementById('likeBtn').innerText = 'Like😀 (' + counts.like + ')';
        document.getElementById('dislikeBtn').innerText = 'Dislike👎 (' + counts.dislike + ')';
        document.getElementById('okayBtn').innerText = 'Okay😕 (' + counts.okay + ')';
    }
</script>


<!-- // photoswipe -->

<script src="//cdnjs.cloudflare.com/ajax/libs/photoswipe/5.3.7/umd/photoswipe-lightbox.umd.min.js" async></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/photoswipe/5.3.7/umd/photoswipe.umd.min.js" async></script>
<link href="//cdnjs.cloudflare.com/ajax/libs/photoswipe/5.3.7/photoswipe.min.css" rel="stylesheet" />
<style>
  .pswp .pswp__container .pswp__img {
    background-color: white;
  }
</style>

<script>
  function initPhotoSwipe() {
    let customOptions = {};

    try {
      const data = `{{ site.photo_previewer }}`.replaceAll("=>", ":");
      customOptions = JSON.parse(data);
    } catch (e) {
      console.info("Invalid custom photo previewer options! " + e.message);
    }

    // Define object and gallery options
    const options = Object.assign(
      {
        gallery: "main",
        children: "a.photo-swipe",
        photo_scale: 2,
        // dynamic import is not supported in UMD version
        pswpModule: PhotoSwipe,
      },
      customOptions
    );

    const galleryEl = document.querySelector(options.gallery);
    if (!galleryEl) {
      return;
    }

    const imgEls = [];
    const els = galleryEl.querySelectorAll("img:not(.emoji)");
    els.forEach((el) => {
      if (el.src.trim() == "") {
        return;
      }
      if (!imgEls.includes(el)) {
        imgEls.push(el);
      }
    });

    if (imgEls.length === 0) {
      return;
    }

    imgEls.forEach((imgEl) => {
      imgEl.outerHTML = `
    <a class="photo-swipe"
      href="${imgEl.src}"
      data-pswp-width="${Math.max(imgEl.naturalWidth, imgEl.width) * options.photo_scale
        }"
      data-pswp-height="${Math.max(imgEl.naturalHeight, imgEl.height) * options.photo_scale
        }"
      data-pswp-caption="${imgEl.getAttribute("caption") || imgEl.alt}"
      target="_blank">
      ${imgEl.outerHTML}
    </a>`;
    });

    // Initialize PhotoSwipe 5
    var lightbox = new PhotoSwipeLightbox(options);

    lightbox.init();
  }

  window.addEventListener("load", initPhotoSwipe);
</script>