 

@font-face {
    font-family: 'Chalmone';
    src: url('../font/Chalmone/Chalmone-VGX4Z.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}


* {
    line-height: 1.5!important;
    font-family: 'Chalmone';
}