@font-face {
    font-family: 'Comic Neue';
    src: url('/assets/font/ComicNeue-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Comic Neue';
    src: url('/assets/font/ComicNeue-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Comic Neue';
    src: url('/assets/font/ComicNeue-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Comic Neue';
    src: url('/assets/font/ComicNeue-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Comic Neue';
    src: url('/assets/font/ComicNeue-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Comic Neue';
    src: url('/assets/font/ComicNeue-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }



 

* {  font-family: "Comic Neue", cursive;}  