@font-face {
    font-family: 'Manrope';
    font-weight: 500;
    font-style: normal;
    src: url('../font/manrope/static/Manrope-Regular.woff2') format('woff2'),
         url('../font/manrope/static/Manrope-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Manrope';
    font-weight: 700;
    font-style: normal;
    src: url('../font/manrope/static/Manrope-Bold.woff2') format('woff2'),
         url('../font/manrope/static/Manrope-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'BOONE';
    font-weight: 700;
    font-style: normal;
    src: url('../font/default/BOONE.woff2') format('woff2'),
         url('../font/default/BOONE.ttf') format('truetype');
}

html {
    font-family: 'Manrope', sans-serif;
    line-height: 1.6em;
}
h1,h2,h3{
    font-family: 'BOONE', sans-serif;
} 