 

@font-face {
    font-family: 'Handlee';
    src: url('../font/Handlee/Handlee-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
   
html {
    font-family: "Handlee", cursive;
    font-weight: 400;
    font-style: normal;
  }