@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

body {
  font-family: 'Inter', sans-serif;
      line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Inter", sans-serif;
    font-weight: 600; 
    line-height: 1.2!important; 
}
h1{
    font-size: 1.6rem!important;
}
nav a { 
    font-weight: normal!important;
}