@font-face {
    font-family: 'Playfair Display';
    font-weight: 400;
    font-style: normal;
    src: url('../font/playfair-display/static/PlayfairDisplay-Regular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Playfair Display';
    font-weight: 500;
    font-style: normal;
    src: url('../font/playfair-display/static/PlayfairDisplay-Medium.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Playfair Display';
    font-weight: 600;
    font-style: normal;
    src: url('../font/playfair-display/static/PlayfairDisplay-SemiBold.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Playfair Display';
    font-weight: 700;
    font-style: normal;
    src: url('../font/playfair-display/static/PlayfairDisplay-Bold.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Playfair Display';
    font-weight: 800;
    font-style: normal;
    src: url('../font/playfair-display/static/PlayfairDisplay-ExtraBold.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Playfair Display';
    font-weight: 900;
    font-style: normal;
    src: url('../font/playfair-display/static/PlayfairDisplay-Black.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Playfair Display';
    font-weight: 400;
    font-style: italic;
    src: url('../font/playfair-display/static/PlayfairDisplay-Italic.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Playfair Display';
    font-weight: 500;
    font-style: italic;
    src: url('../font/playfair-display/static/PlayfairDisplay-MediumItalic.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Playfair Display';
    font-weight: 600;
    font-style: italic;
    src: url('../font/playfair-display/static/PlayfairDisplay-SemiBoldItalic.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Playfair Display';
    font-weight: 700;
    font-style: italic;
    src: url('../font/playfair-display/static/PlayfairDisplay-BoldItalic.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Playfair Display';
    font-weight: 800;
    font-style: italic;
    src: url('../font/playfair-display/static/PlayfairDisplay-ExtraBoldItalic.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Playfair Display';
    font-weight: 900;
    font-style: italic;
    src: url('../font/playfair-display/static/PlayfairDisplay-BlackItalic.ttf') format('truetype');
  }
  
  html {
    font-family: 'Playfair Display', serif;
  }
  