@font-face {
    font-family: 'Raleway';
    src: url('../font/Raleway/static/Raleway-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Raleway';
    src: url('../font/Raleway/static/Raleway-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Raleway';
    src: url('../font/Raleway/static/Raleway-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Raleway';
    src: url('../font/Raleway/static/Raleway-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Raleway';
    src: url('../font/Raleway/static/Raleway-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Raleway';
    src: url('../font/Raleway/static/Raleway-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Raleway';
    src: url('../font/Raleway/static/Raleway-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Raleway';
    src: url('../font/Raleway/static/Raleway-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Raleway';
    src: url('../font/Raleway/static/Raleway-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
  }
  
  /* Italic Versions */
  
  @font-face {
    font-family: 'Raleway';
    src: url('../font/Raleway/static/Raleway-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Raleway';
    src: url('../font/Raleway/static/Raleway-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Raleway';
    src: url('../font/Raleway/static/Raleway-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Raleway';
    src: url('../font/Raleway/static/Raleway-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Raleway';
    src: url('../font/Raleway/static/Raleway-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Raleway';
    src: url('../font/Raleway/static/Raleway-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Raleway';
    src: url('../font/Raleway/static/Raleway-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Raleway';
    src: url('../font/Raleway/static/Raleway-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Raleway';
    src: url('../font/Raleway/static/Raleway-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
  }
   
  html {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  