@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import "base";
}

@layer components {
  @import "components";
  @import "navigation";
  @import "buttons";
}

@layer utilities {
  @import "utilities";
}


:root {
  --bg:white;
  --text:black;
  --hover: #0073ec;

  --bg2:rgb(240, 240, 240);
}


@media (prefers-color-scheme: dark) {
  :root {
    --bg:rgb(31,31,31);
    --text:white;
    --bg2:#282828;
  }
}

body {
  background-color: var(--bg);
  color: var(--text);
}

.bg-white {
  background-color: var(--bg);
  color: var(--text);
}

.nav-link {
  color: var(--text);
}

.text-text {
  color: var(--text);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--text);
}

.text-dark {
  color: var(--text);
}

.search-modal .search-close {
  color: var(--text);
}

.search-modal.open {
  margin: 0 2rem;
}

.search-modal .form-input {
  background: var(--bg2) ;
}

// to hide text under it
 
@media (min-width: 768px){
.search-modal {
    height: 80%;
}
}